---
import Link from "./Link.astro";
---

<section>
    <ul
        class="grid grid-flow-col grid-rows-2 md:grid-rows-1 gap-2 justify-center mb-3"
    >
        <li>
            <Link href="mailto:vitor1nuness@gmail.com" text="vitor1nuness@gmail.com" />
        </li>

        <li>
            <Link href="https://github.com/vitornuness" text="github" />
        </li>

        <li>
            <Link
                href="https://linkedin.com/in/vitornunesdasilva"
                text="linkedin"
            />
        </li>

        <li>
            <Link href="https://instagram.com/inuness01" text="instagram" />
        </li>
    </ul>
</section>
