---

---

<section>
    <h2 class="text-shadow-lg/50 text-end m-0 p-0">Desenvolvedor</h2>

    <h1 class="text-shadow-lg/50 text-3xl sm:text-5xl md:text-8xl">
        Vitor Nunes
    </h1>

    <h6
        class="text-3xl sm:text-5xl md:text-8xl text-stone-800/10 -scale-y-25 mt-[-20px]"
    >
        Vitor Nunes
    </h6>

    <h2 class="text-end text-stone-800/10 -scale-y-20 mt-[-40px] m-0 p-0">
        Desenvolvedor
    </h2>
</section>
